# Core
python-dotenv
PyYAML

# ML / NLP
transformers
torch
sentence-transformers
scikit-learn
pandas
numpy
nltk
spacy
emoji
langdetect
textblob

# API / Backend
fastapi
uvicorn[standard]
gunicorn
pydantic
pydantic-settings
SQLAlchemy
alembic

# DB
databases[sqlite]

# Utils
joblib
tqdm


redis>=5.0.0
